.App {
    display: flex;
    justify-content: center;
    width: 960px;
    height: 540px;
    background-color: #252836;
}

@media screen and (max-width: 375px) {

}
@media screen and (max-width: 414px) {

}
@media screen and (max-width: 768px) {

}